body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    margin-top: 5rem;
}

form {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin: auto;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: blue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 7rem;
    border-radius: 3.5rem;
}

a {
    color: white;
    text-decoration: none;
}

.button {
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.footer {
    text-align: center;
    margin-top: 2rem;
}


/* @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
} */